{% load static %}
{% load wiki_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'wiki/css/styles.css' %}" rel="stylesheet"/>
    <link type="image/x-icon" href="{% static 'wiki/images/logo5.png' %}" rel="shortcut icon"/>

   <title>{{title}}</title>

</head>
<body>
<div class="app-container">
{% block mainmenu %}
		<div class="header">
            <div class="logo-container"><a href="{% url 'home' %}"><img class="logo" src="{% static 'wiki/images/logo.png' %}"/></a></div>

			<div class="mainmenu-container"><ul id="mainmenu" class="mainmenu">
{% for m in menu %}
	{% if not forloop.last %}
			<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
	{% else %}
            <li><form class="search-form" action="{% url 'search' %}" method="GET">
                <div class="search-form-input-cntr"><input class="search-form-input" type="text" name="search_query" placeholder="Поиск"></div>
                <button class="search-form-btn" type="submit"></button>
            </form></li>
			<li class="last"><a href="{% url m.url_name %}">{{m.title}}</a></li>
	{% endif %}
{% endfor %}
            </ul></div>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}
<div class="container">
    <div class="table-content">
        <div valign="top" class="left-chapters">

            <ul id="leftchapters">
            {% if cat_selected == 0 %}
                <li class="selected">Все категории</li>
            {% else %}
                    <li><a href="{% url 'home' %}">Все категории</a></li>
            {% endif %}
            {% show_categories  cat_selected=cat_selected %}
                <li class="share">
                </li>
            </ul>
        </div>
    </div>

        <!-- Хлебные крошки -->
        {% block breadcrumbs %}
        {% endblock %}

        <!-- Блок контента -->
    <div class="content-text">
        {% block content %}
        {% endblock %}
    </div>
</div>
    <div id="footer">
		<p>&copy;</p>
	</div>
    </div>
</body>
</html>